/*main css*/
body{
  word-wrap: break-word;
  .space{ // only to visulise
    height: 150px;
    width: 100%;
    border: 1px solid $light;
  }
  text-align: center;

  h1,h2,h3,h4,button,.font_wind{ //letter spacing 4 font trade winds
    letter-spacing: 1px;
  }
  h1{
    @include media-breakpoint-up(md) {
      margin: 5px 50px 50px;
      font-size: $font-size-base* 2.5;
    }
  }
  h2{
    @include media-breakpoint-up(md) {
      font-size: $font-size-base* 2;
    }
  }
  .font_wind{
    font-family: "Trade Winds", sans-serif;
  }
  /*buttons*/
  .btn_1{
    box-shadow: 1px 1px 2px $primary;
    padding: 2px 5px;
    a{
      width: 100%;
      height: 100%;
      padding: 10px;
    }
    &:hover{
      box-shadow: 1px 1px 10px $primary;
      a{
        color: $light;
      }
    }
  }
  .btn_admin{
    width: 100%;
    padding: 5px;
    margin: 15px 0;
    font-size: 1.5rem;
    a{
      width: 100%;
      height: 100%;
      padding: 10px;
    }
    &:hover{
      box-shadow: 1px 1px 10px $primary;
      a{
        color: $light;
      }
    }
  }
  .btn_admin.active{
    a{
      color: $secondary;
    }
  }
  .btn_send{
    width: 50%;
    margin: 15px;
    padding: 5px;
    font-size: 1.5rem;
  }
  .btn_table{
    width: auto;
  }
  article.teaser_home{ //teaser_home
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .lead{
    margin-bottom: 50px;
  }
  // classes for php messages
  .login_output{
    color: $success;
    font-size: 1rem;
    margin: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
    }
  }
  .error_message{ // to print the error message
    color: $info;
  }
  .has_error{ // to outline a error field
    border: 1px solid $danger;
  }
  .font_not_wind{
    font-family: "Roboto", sans-serif;
  }

}