/* Navigation css */
.nav_styles{
  margin-bottom: 5%;
  border-bottom: 2px solid $secondary;
  font-size: 1.5rem;
  .nav_top{
    font-size: 1rem;
  }
  .logo{
    width: 60px;
    position: absolute;
    top: 15px;
    @include media-breakpoint-up(lg) {
      width: 140px;
      position: absolute;
      top: -45px;
    }
  }
  ul{
    li{
      margin-left: 15px;
    }
  }
}
.show_on_lg{
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}.hide_on_lg{
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
 .float_right{
   float: right;
 }