// ### tools css ### */
.tools{
  margin-bottom: 50px;
  margin-top: 50px;
  img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 2px 4px #000000, 0 0 3px 5px #ad714a;
    position: relative;
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      width: 100%;
      height: auto;
    }
  }
}